html { 
  margin:0;
  padding:0;
  background: url(gif.gif) no-repeat center fixed; 
  background-size: cover; 
}
aa { 
    background-color: green; 
    color: white; 
 }

 bb { 
    background-color: red; 
    color: black; 
 } 
.image{
    float: right;
}   