html { 
  margin:0;
  padding:0;
  background: url(c.gif) no-repeat center fixed; 
  background-size: cover; 
}
maths { 
    
    color: white; 
 }

 astronomie { 

    color: white; 
 } 

futur { 

    color: white; 
 } 

.aa{
    float: right;
}  
.bb{
    float: right;
} 
.cc{
    float: right;
}      